# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [21]:
# import numpy and pandas
import pandas as pd
import numpy as np
import scipy

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pd.crosstab(index = pokemon.Legendary, columns = 'count')

col_0      count
Legendary
False        735
True          65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:
legend = pokemon[pokemon.Legendary==True]
legmed = legend.Total.mean()
legstd = legend.Total.std()

common = pokemon[pokemon.Legendary==False]
commed = common.Total.mean()
comstd = common.Total.std()

print(legmed)
print(legstd)
print(commed)
print(comstd)

637.3846153846154
60.93738905315346
417.21360544217686
106.76041745713022

In [6]:
legtot = legend.Total
comtot = common.Total

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [7]:
# Your code here:
from scipy.stats import ttest_rel, ttest_ind
indtest = ttest_ind(legtot,comtot,equal_var=False)
indtest

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [8]:
# Your conclusions here:

# Los puntos totales que tiene cada pokemon no está relacionado con su estatus de legendario o no.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [9]:
# Your code here:

pd.crosstab(index = pokemon['Type 1'], columns = 'count').sort_values('count',ascending=False)

col_0     count
Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [10]:
# Your code here:

pokemonw = pd.DataFrame(pokemon.assign(W_NW = np.where(pokemon['Type 1']=='Water','Water','Non-water')))
compwater = pokemonw.groupby('W_NW').agg(['count','mean','std'])['Total']
compwater

           count        mean         std
W_NW
Non-water    688  435.859012  121.091682
Water        112  430.455357  113.188266

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [11]:
# Your code here:

#Hipótesis: las medias de Water y Non-water son iguales

indtestwater = ttest_ind(pokemonw[pokemonw.W_NW=='Water']['Total'],pokemonw[pokemonw.W_NW=='Non-water']['Total'],equal_var=True)
indtestwater

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [12]:
# Your conclusions here:

# Las medias de los Totales son iguales.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [13]:
# Your code here:

attack = pokemon.Attack
defense = pokemon.Defense

#Hipótesis: scores de ataque y defensa son iguales.
#H0: mu1 = mu2, H1: mu1 != mu2

umbral = 1 - 0.95

testattdef = ttest_rel(attack, defense)
print(testattdef.statistic)
print(testattdef.pvalue)
if testattdef.pvalue <= umbral:
    print('La hipótesis se rechaza')
else:
    print('La hipótesis se acepta.')

4.325566393330478
1.7140303479358558e-05
La hipótesis se rechaza

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

# El ataque y la defensa no son iguales, bajo un umbral de confianza del 95%.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [15]:
# Your code here:

#Hipótesis: Las medias de los 'Sp. Atk' y 'Sp. Def' son iguales.

splattackm = pokemon['Sp. Atk']
spldefensem = pokemon['Sp. Def']

test_spl = ttest_rel(splattackm,spldefensem)
test_spl

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [16]:
# Your conclusions here:

# Las medias de ambas muestras son iguales.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [31]:
from scipy.stats import t
from scipy.stats import ttest_1samp

In [39]:
# Your code here:

#Hipótesis: Las medias de attack y defense son iguales.

testattdef2 = ttest_1samp(attack-defense,0)
testattdef2

#Los resultados son iguales.

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [41]:
pokemonw.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,W_NW
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Non-water
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Non-water
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Non-water
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Non-water
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Non-water

In [47]:
# Your code here:

cont = pd.crosstab(index=pokemonw.Legendary, columns = pokemonw.W_NW)
cont

W_NW       Non-water  Water
Legendary
False            627    108
True              61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [50]:
# Your code here: correction=True, lambda_=None)
from scipy.stats import chi2_contingency

chitest = chi2_contingency(cont)
chitest_pvalue = chitest[1]
chitest_pvalue

0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here:

# No, ya que el p_value supera el 0.05 de umbral de confiabilidad.