![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [10]:
import pymongo
import pandas as pd
from pymongo import MongoClient
client=MongoClient()
db=client.DB

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [11]:
a = db.db.find({'name':'Babelgum'},{'name':1})
ax = pd.DataFrame(a)
ax.head()

                        _id      name
0  52cdef7c4bab8bd675297da0  Babelgum

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [12]:
b = db.db.find({'number_of_employees':{'$gt':5000}},{'name':1,'number_of_employees':1,'_id':0}).limit(20).sort("number_of_employees", pymongo.DESCENDING)
bx = pd.DataFrame(b)
bx
#se identificó que el registro 16 y 17 (Mitsubishi Electric) están repetidos, pero cuentan con diferente '_id'.
# No se va a borrar para no afectar la base de datos general, por el momento.

                                          name  number_of_employees
0                                      Siemens               405000
1                                          IBM               388000
2                                       Toyota               320000
3                                       PayPal               300000
4   Nippon Telegraph and Telephone Corporation               227000
5                          Samsung Electronics               221726
6                                    Accenture               205000
7                    Tata Consultancy Services               200300
8                    Flextronics International               200000
9                                      Safeway               186000
10                                        Sony               180500
11                                          LG               177000
12                                        Ford               171000
13                                      Boeing               160000
14               Digital Equipment Corporation               140000
15                                       Nokia               125000
16                         MItsubishi Electric               107000
17                         MItsubishi Electric               107000
18                                     Comcast               100000
19                                 Bertelsmann               100000

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [13]:
c = db.db.find({'founded_year':{'$gte':2000, '$lte':2005}},
               {'name':1,'founded_year':1,'_id':0})
cx = pd.DataFrame(c)
cx.head()

        name  founded_year
0   Wetpaint          2005
1       Zoho          2005
2       Digg          2004
3   Facebook          2004
4  Omnidrive          2005

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [14]:
d = db.db.find({'ipo.valuation_amount':{'$gt':100000},'founded_year':{'$lt':2010}}
               ,{'name':1,'ipo':1,'_id':0})
dx = pd.DataFrame(d)
dx.head()

       name                                                ipo
0  Facebook  {'valuation_amount': 104000000000, 'valuation_...
1   Twitter  {'valuation_amount': 18100000000, 'valuation_c...
2      Yelp  {'valuation_amount': 1300000000, 'valuation_cu...
3  LinkedIn  {'valuation_amount': 9310000000, 'valuation_cu...
4    Amazon  {'valuation_amount': 100000000000, 'valuation_...

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [15]:
e = db.db.find({'number_of_employees':{'$lt':1000},'founded_year':{'$lt':2005}}).limit(10).sort("number_of_employees", pymongo.DESCENDING)
ex = pd.DataFrame(e)
ex

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7d4bab8bd675298933,Infinera Corporation,infinera,http://www.crunchbase.com/company/infinera,http://www.infinera.com,,,InfineraCorp,network_hosting,974,...,[],None,[],"[{'description': 'Headquarters', 'address1': '...","[{'id': 20267, 'description': 'Infinera PICs S...","{'valuation_amount': None, 'valuation_currency...",[],"[{'available_sizes': [[[150, 112], 'assets/ima...",[],[]
1,52cdef7e4bab8bd67529ac95,NorthPoint Communications Group,northpoint-communications-group,http://www.crunchbase.com/company/northpoint-c...,,,,,network_hosting,948,...,[],None,[],"[{'description': 'HQ', 'address1': '303 Second...",[],None,[],[],[],[]
2,52cdef7f4bab8bd67529be17,888 Holdings,888-holdings,http://www.crunchbase.com/company/888-holdings,http://www.888holdingsplc.com,,,,games_video,931,...,[],None,"[{'price_amount': 18000000, 'price_currency_co...",[],[],None,[],"[{'available_sizes': [[[143, 150], 'assets/ima...",[],[]
3,52cdef7c4bab8bd6752986a2,Forrester Research,forrester-research,http://www.crunchbase.com/company/forrester-re...,http://forrester.com,http://blogs.forrester.com/colony/,http://blogs.forrester.com/colony/index.rdf,,consulting,903,...,[],None,"[{'price_amount': 4750000, 'price_currency_cod...","[{'description': None, 'address1': '400 Techno...","[{'id': 36801, 'description': 'Forrester: $2.1...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 93], 'assets/imag...",[{'external_url': 'http://blogs.forrester.com/...,[]
4,52cdef7e4bab8bd67529af6d,SonicWALL,sonicwall,http://www.crunchbase.com/company/sonicwall,http://www.sonicwall.com,,,sonicwall,security,900,...,[],"{'price_amount': 717000000, 'price_currency_co...","[{'price_amount': 25000000, 'price_currency_co...","[{'description': 'HQ', 'address1': '2001 Logic...","[{'id': 15615, 'description': 'SonicWALL Revol...",None,"[{'embed_code': '<iframe width=""480"" height=""3...",[],[],[]
5,52cdef7e4bab8bd67529b21b,Webmetrics,webmetrics,http://www.crunchbase.com/company/webmetrics,http://www.webmetrics.com,http://blog.webmetrics.com,http://feeds.feedburner.com/webmetricsperforma...,Webmetrics,software,900,...,[],None,[],"[{'description': '', 'address1': '9444 Waples'...",[],None,[],"[{'available_sizes': [[[150, 125], 'assets/ima...",[],[]
6,52cdef7e4bab8bd67529b3bd,Cornerstone OnDemand,cornerstone-ondemand,http://www.crunchbase.com/company/cornerstone-...,http://www.cornerstoneondemand.com,http://www.cornerstoneondemand.com/blog,http://www.cornerstoneondemand.com/blog,cornerstoneinc,software,881,...,[],None,[],"[{'description': 'Headquarters', 'address1': '...","[{'id': 7141, 'description': 'Announced hire o...","{'valuation_amount': 900000000, 'valuation_cur...",[],[],[],[]
7,52cdef7c4bab8bd675297de0,Yelp,yelp,http://www.crunchbase.com/company/yelp,http://yelp.com,http://officialblog.yelp.com/,http://naturallylindy.com,Yelp,search,800,...,[],None,"[{'price_amount': 50000000, 'price_currency_co...","[{'description': '', 'address1': '706 Mission ...","[{'id': 5336, 'description': 'Yelp Launches in...","{'valuation_amount': 1300000000, 'valuation_cu...",[],"[{'available_sizes': [[[150, 75], 'assets/imag...",[{'external_url': 'http://en.wikipedia.org/wik...,[]
8,52cdef7c4bab8bd675297ef5,MySpace,myspace,http://www.crunchbase.com/company/myspace,http://myspace.com,http://www.myspace.com/pressroom?url=/company+...,http://myspace.tekgroupweb.com/company+blog/rs...,MySpace,network_hosting,800,...,[],"{'price_amount': 35000000, 'price_currency_cod...","[{'price_amount': 20000000, 'price_currency_co...","[{'description': '', 'address1': '8391 Beverly...","[{'id': 133, 'description': 'Vodafone teams up...",None,"[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 130], 'assets/ima...",[],[]
9,52cdef7c4bab8bd675297efd,ZoomInfo,zoominfo,http://www.crunchbase.com/company/zoominfo,http://www.zoominfo.com,http://zoominfoblogger.wordpress.com/,http://feeds.feedburner.com/zoominfoblog,ZoomInfo,search,800,...,[{'funding_round': {'round_code': 'unattribute...,None,[],"[{'description': None, 'address1': '307 Waverl...",[],None,[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.infocheckpoint.c...,[]

### 6. All the companies that don't include the `partners` field.

In [16]:
f = db.db.find({'partners':{'$exists': False }})
fx = pd.DataFrame(f)
fx.head()

Empty DataFrame
Columns: []
Index: []

### 7. All the companies that have a null type of value on the `category_code` field.

In [19]:
g = db.db.find({'category_code':None})
gx = pd.DataFrame(g)
gx.head()

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd6752980f6,Collective,collective,http://www.crunchbase.com/company/collective,None,None,None,None,None,NaN,...,[],None,[],[],[],None,[],[],[],[]
1,52cdef7c4bab8bd675298225,Snimmer,snimmer,http://www.crunchbase.com/company/snimmer,None,None,None,None,None,NaN,...,[],None,[],[],[],None,[],[],[],[]
2,52cdef7c4bab8bd675298226,KoolIM,koolim,http://www.crunchbase.com/company/koolim,None,None,None,None,None,NaN,...,[],None,[],[],[],None,[],[],[],[]
3,52cdef7c4bab8bd675298261,Level9 Media,level9-media,http://www.crunchbase.com/company/level9-media,None,None,None,None,None,NaN,...,[],"{'price_amount': None, 'price_currency_code': ...",[],[],[],None,[],[],[],[]
4,52cdef7c4bab8bd675298262,VidKing,vidking,http://www.crunchbase.com/company/vidking,http://www.VidKing.com,,,None,None,NaN,...,[],"{'price_amount': 150000, 'price_currency_code'...",[],[],[],None,[],[],[],[]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [20]:
h = db.db.find({'number_of_employees':{'$gte':100,'$lt':1000}},{'name':1,'number_of_employees':1,'_id':0})
hx = pd.DataFrame(h)
hx

                      name  number_of_employees
0                AdventNet                  600
1                  AddThis                  120
2                    OpenX                  305
3                 LifeLock                  644
4                    Jajah                  110
..                     ...                  ...
912  UOL (Universo Online)                  500
913               NextLabs                  100
914      OfficialVirtualDJ                  102
915          Willdan Group                  385
916                   QSGI                  164

[917 rows x 2 columns]

### 9. Order all the companies by their IPO price descendently.

In [33]:
i = db.db.find({'ipo':{'$ne':None}}).sort('ipo', pymongo.DESCENDING)
ix = pd.DataFrame(i)
ix.head()

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7e4bab8bd67529a8b4,GREE,gree,http://www.crunchbase.com/company/gree,http://www.gree-corp.com,,,gree_corp,games_video,700.0,...,"[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': 104000000, 'price_currency_c...","[{'description': 'Headquarters', 'address1': '...","[{'id': 1021, 'description': 'IPO', 'stoned_ye...","{'valuation_amount': 108960000000, 'valuation_...",[],"[{'available_sizes': [[[133, 150], 'assets/ima...",[],[]
1,52cdef7c4bab8bd675297d8e,Facebook,facebook,http://www.crunchbase.com/company/facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299.0,...,"[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Headquarters', 'address1': '...","[{'id': 108, 'description': 'Facebook adds com...","{'valuation_amount': 104000000000, 'valuation_...",[],"[{'available_sizes': [[[150, 68], 'assets/imag...",[{'external_url': 'http://latimesblogs.latimes...,[]
2,52cdef7c4bab8bd675297e7a,Amazon,amazon,http://www.crunchbase.com/company/amazon,http://amazon.com,,,amazon,ecommerce,NaN,...,"[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': None, 'address1': '1200 12th ...","[{'id': 6931, 'description': 'How Many Kindle ...","{'valuation_amount': 100000000000, 'valuation_...","[{'embed_code': '<object width=""425"" height=""3...","[{'available_sizes': [[[150, 94], 'assets/imag...",[],[]
3,52cdef7c4bab8bd675297d94,Twitter,twitter,http://www.crunchbase.com/company/twitter,http://twitter.com,http://twitter.com/blog,http://feeds.feedburner.com/TwitterBlog,twitter,social,1300.0,...,[],None,"[{'price_amount': 15000000, 'price_currency_co...","[{'description': '', 'address1': '1355 Market ...","[{'id': 1, 'description': 'Survives iPhone 3G ...","{'valuation_amount': 18100000000, 'valuation_c...","[{'embed_code': '<iframe width=""430"" height=""2...","[{'available_sizes': [[[150, 74], 'assets/imag...",[{'external_url': 'http://sec.gov/cgi-bin/brow...,[]
4,52cdef7d4bab8bd675299d5d,Groupon,groupon,http://www.crunchbase.com/company/groupon,http://www.groupon.com,http://www.groupon.com/blog/,feed://feeds2.feedburner.com/grouponblog,groupon,web,10000.0,...,[{'funding_round': {'round_code': 'unattribute...,None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'HQ', 'address1': '600 W. Chi...","[{'id': 4396, 'description': 'Groupon Makes A ...","{'valuation_amount': 12800000000, 'valuation_c...","[{'embed_code': '<script src=""http://www.buzzs...","[{'available_sizes': [[[150, 97], 'assets/imag...",[{'external_url': 'http://web20show.com/2009/1...,[]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [34]:
j = db.db.find({}).limit(10).sort("number_of_employees", pymongo.DESCENDING)
jx = pd.DataFrame(j)
jx

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7d4bab8bd67529941a,Siemens,siemens,http://www.crunchbase.com/company/siemens,http://www.siemens.com,,,Siemens,hardware,405000,...,[],None,"[{'price_amount': 418000000, 'price_currency_c...","[{'description': '', 'address1': 'Wittelsbache...","[{'id': 35852, 'description': 'Siemens Receive...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<iframe width=""420"" height=""3...","[{'available_sizes': [[[150, 92], 'assets/imag...",[],[]
1,52cdef7c4bab8bd67529856a,IBM,ibm,http://www.crunchbase.com/company/ibm,http://www.ibm.com,,,IBM,software,388000,...,"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Corporate Headquarters', 'ad...","[{'id': 10471, 'description': 'IBM Completes A...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 93], 'assets/imag...","[{'external_url': 'http://mashpedia.com/IBM', ...",[]
2,52cdef7d4bab8bd675299d33,Toyota,toyota,http://www.crunchbase.com/company/toyota,http://www.toyota-global.com,,,Toyota,enterprise,320000,...,"[{'funding_round': {'round_code': 'a', 'source...",None,[],"[{'description': 'HQ', 'address1': 'Toyota Mot...",[],None,"[{'embed_code': '<iframe width=""430"" height=""3...","[{'available_sizes': [[[150, 84], 'assets/imag...",[],[]
3,52cdef7c4bab8bd675297e89,PayPal,paypal,http://www.crunchbase.com/company/paypal,http://www.paypal.com,,,paypal,finance,300000,...,"[{'funding_round': {'round_code': 'c', 'source...","{'price_amount': 1500000000, 'price_currency_c...","[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': '2145 E Hamil...","[{'id': 11916, 'description': 'Reserve Bank Of...",None,[],"[{'available_sizes': [[[150, 120], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[]
4,52cdef7e4bab8bd67529b0fe,Nippon Telegraph and Telephone Corporation,nippon-telegraph-and-telephone-corporation,http://www.crunchbase.com/company/nippon-teleg...,http://www.ntt.co.jp/index_e.html,,,,None,227000,...,"[{'funding_round': {'round_code': 'e', 'source...",None,[],"[{'description': 'NTT', 'address1': '3-1, Otem...",[],None,[],"[{'available_sizes': [[[150, 42], 'assets/imag...",[],[]
5,52cdef7d4bab8bd675298aa4,Samsung Electronics,samsung-electronics,http://www.crunchbase.com/company/samsung-elec...,http://www.samsung.com/us,http://www.samsungvillage.com/,,samsungtweets,hardware,221726,...,"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'HQ - South Korea', 'address1...","[{'id': 11908, 'description': 'Samsung Ships 3...",None,"[{'embed_code': '<iframe src=""http://blip.tv/p...","[{'available_sizes': [[[94, 150], 'assets/imag...",[{'external_url': 'http://mashpedia.com/Samsun...,[]
6,52cdef7d4bab8bd675298b99,Accenture,accenture,http://www.crunchbase.com/company/accenture,http://www.accenture.com,http://www.accenture.com/Global/Accenture_Blogs/,http://feeds.accenture.com/Accenture_High_Perf...,accenture,consulting,205000,...,[{'funding_round': {'round_code': 'unattribute...,None,"[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': '1615 Murray ...","[{'id': 1824, 'description': 'Nokia and Accent...","{'valuation_amount': None, 'valuation_currency...",[],"[{'available_sizes': [[[150, 136], 'assets/ima...",[{'external_url': 'http://www.accenture.com/Gl...,[]
7,52cdef7e4bab8bd67529a657,Tata Consultancy Services,tata-consultancy-services,http://www.crunchbase.com/company/tata-consult...,http://www.tcs.com,,http://www.tcs.com/rss_feeds/Pages/feed.aspx?f=p,TCS_News,consulting,200300,...,[],None,[],"[{'description': 'World Headquarters', 'addres...",[],None,[],[],[],[]
8,52cdef7e4bab8bd67529aa51,Flextronics International,flextronics-international,http://www.crunchbase.com/company/flextronics-...,http://www.flextronics.com,http://www.flextronicsblog.com/,,flextronics,None,200000,...,[{'funding_round': {'round_code': 'unattribute...,None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'US HQ', 'address1': '6201 Am...",[],None,[],"[{'available_sizes': [[[150, 107], 'assets/ima...",[],[]
9,52cdef7d4bab8bd675299156,Safeway,safeway,http://www.crunchbase.com/company/safeway,http://www.safeway.com,,,,other,186000,...,[],None,[],"[{'description': 'HQ', 'address1': '5918 Stone...",[],None,[],"[{'available_sizes': [[[150, 123], 'assets/ima...",[],[]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [36]:
k = db.db.find({'founded_month':{'$gte':7}}).limit(1000)
kx = pd.DataFrame(k)
kx.head()

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,52cdef7c4bab8bd675297d8a,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,...,"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN
1,52cdef7c4bab8bd675297d8c,Zoho,abc4,http://www.crunchbase.com/company/zoho,http://zoho.com,http://blogs.zoho.com/,http://blogs.zoho.com/feed,zoho,software,1600.0,...,"[{'description': 'Headquarters', 'address1': '...","[{'id': 388, 'description': 'Zoho Reaches 2 Mi...","[{'embed_code': '<object width=""430"" height=""2...",[],[{'external_url': 'http://www.online-tech-tips...,[],NaN,NaN,NaN,NaN
2,52cdef7c4bab8bd675297d8d,Digg,digg,http://www.crunchbase.com/company/digg,http://www.digg.com,http://blog.digg.com/,http://blog.digg.com/?feed=rss2,digg,news,60.0,...,"[{'description': None, 'address1': '135 Missis...","[{'id': 9588, 'description': 'Another Digg Exe...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[117, 150], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[],NaN,NaN,None,None
3,52cdef7c4bab8bd675297d8f,Omnidrive,omnidrive,http://www.crunchbase.com/company/omnidrive,http://www.omnidrive.com,http://www.omnidrive.com/blog,http://feeds.feedburner.com/omnidrive,Nomadesk,network_hosting,NaN,...,"[{'description': '', 'address1': 'Suite 200', ...",[],[],[],[],[],9.0,15.0,,None
4,52cdef7c4bab8bd675297d9b,eBay,ebay,http://www.crunchbase.com/company/ebay,http://ebay.com,,,eBay,web,15000.0,...,"[{'description': 'Headquarters', 'address1': '...","[{'id': 7107, 'description': 'eBay Q2 Revenue ...","[{'embed_code': '<iframe width=""370"" height=""3...","[{'available_sizes': [[[150, 71], 'assets/imag...",[],[],NaN,NaN,None,"{'valuation_amount': None, 'valuation_currency..."

### 12. All the companies that have been 'deadpooled' after the third year.

In [47]:
l = db.db.find({'deadpooled_year':{'$ne':None}})
lx = pd.DataFrame(l)
lx = lx.assign(deadpool3=lx.deadpooled_year-lx.founded_year)
lx = lx[lx.deadpool3>=3]
lx

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo,deadpool3
3,52cdef7c4bab8bd675297d8f,Omnidrive,omnidrive,http://www.crunchbase.com/company/omnidrive,http://www.omnidrive.com,http://www.omnidrive.com/blog,http://feeds.feedburner.com/omnidrive,Nomadesk,network_hosting,NaN,...,[],[],[],[],[],9.0,15.0,,NaN,3.0
4,52cdef7c4bab8bd675297da0,Babelgum,babelgum,http://www.crunchbase.com/company/babelgum,http://babelgum.com,http://babelgum.com/blog,http://feeds.feedburner.com/Babelgum,Babelgum,games_video,NaN,...,[],[],[],[],[],1.0,9.0,,NaN,6.0
6,52cdef7c4bab8bd675297dae,Thoof,thoof,http://www.crunchbase.com/company/thoof,http://thoof.com,,None,None,web,NaN,...,[],[],[],[{'external_url': 'http://www.duraslide.com.sg...,[],8.0,4.0,,NaN,7.0
8,52cdef7c4bab8bd675297db6,Wesabe,wesabe,http://www.crunchbase.com/company/wesabe,http://wesabe.com,http://blog.wesabe.com/,http://blog.wesabe.com/feed/,jasonlong,web,NaN,...,[],"[{'embed_code': '<script src=""http://flash.rev...",[],[],[],6.0,30.0,http://techcrunch.com/2010/06/30/wesabe-shuts-...,NaN,5.0
9,52cdef7c4bab8bd675297db7,Jangl SMS,jangl-sms,http://www.crunchbase.com/company/jangl-sms,,,,,web,22.0,...,[],[],[],[{'external_url': 'http://onlinepersonalswatch...,[],5.0,7.0,http://venturebeat.com/2008/05/07/internet-pho...,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,52cdef7f4bab8bd67529c470,SpeakSoft,speaksoft,http://www.crunchbase.com/company/speaksoft,http://www.speaksoft.net,,,,public_relations,NaN,...,[],[],[],[],[],1.0,NaN,,NaN,5.0
914,52cdef7f4bab8bd67529c4c4,Tagito,tagito,http://www.crunchbase.com/company/tagito,http://www.tagito.com,,,tagitodotcom,web,4.0,...,[],[],"[{'available_sizes': [[[150, 78], 'assets/imag...",[{'external_url': 'http://venturebeat.com/2009...,[],NaN,NaN,,NaN,4.0
917,52cdef7f4bab8bd67529c503,Nordic Windpower,nordic-windpower,http://www.crunchbase.com/company/nordic-windp...,http://www.nordicwindpower.com,,http://www.nordicwindpower.com/article--news--...,,cleantech,NaN,...,[],[],"[{'available_sizes': [[[150, 82], 'assets/imag...",[],[],4.0,10.0,,NaN,6.0
922,52cdef7f4bab8bd67529c5aa,Nethra Imaging,nethra-imaging,http://www.crunchbase.com/company/nethra-imaging,http://nethra-imaging.com/index.php,,,,semiconductor,NaN,...,[],[],"[{'available_sizes': [[[150, 135], 'assets/ima...",[],[],6.0,4.0,,NaN,9.0
925,52cdef7f4bab8bd67529c68b,Prolify,prolify,http://www.crunchbase.com/company/prolify,http://www.prolify.com,,,,None,NaN,...,[],[],"[{'available_sizes': [[[150, 100], 'assets/ima...",[],[],9.0,30.0,,NaN,5.0

### 13. All the companies founded before 2000 that have and acquisition amount of more than 10.000.000

In [48]:
m = db.db.find({'founded_year':{'$lt':2000},'acquisition.price_amount':{'$gt':10000000}})
mx = pd.DataFrame(m)
mx.head()

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd675297d90,Postini,postini,http://www.crunchbase.com/company/postini,http://postini.com,,,None,web,NaN,...,[],"{'price_amount': 625000000, 'price_currency_co...",[],"[{'description': None, 'address1': '959 Skyway...",[],None,[],[],[],[]
1,52cdef7c4bab8bd675297deb,SideStep,sidestep,http://www.crunchbase.com/company/sidestep,http://www.sidestep.com,None,None,None,web,75.0,...,[],"{'price_amount': 180000000, 'price_currency_co...",[],"[{'description': None, 'address1': '2980 Bower...",[],None,[],[],[],[]
2,52cdef7c4bab8bd675297e2c,Recipezaar,recipezaar,http://www.crunchbase.com/company/recipezaar,http://www.recipezaar.com,http://www.recipezaar.com/sitenews/,None,None,web,5.0,...,[],"{'price_amount': 25000000, 'price_currency_cod...",[],"[{'description': None, 'address1': 'P.O. Box 1...",[],None,[],[],[],[]
3,52cdef7c4bab8bd675297e89,PayPal,paypal,http://www.crunchbase.com/company/paypal,http://www.paypal.com,,,paypal,finance,300000.0,...,"[{'funding_round': {'round_code': 'c', 'source...","{'price_amount': 1500000000, 'price_currency_c...","[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': '2145 E Hamil...","[{'id': 11916, 'description': 'Reserve Bank Of...",None,[],"[{'available_sizes': [[[150, 120], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[]
4,52cdef7c4bab8bd675297e97,Snapfish,snapfish,http://www.crunchbase.com/company/snapfish,http://snapfish.com,http://snapfishblog.in/,,snapfishbyhp,network_hosting,NaN,...,[],"{'price_amount': 300000000, 'price_currency_co...","[{'price_amount': None, 'price_currency_code':...","[{'description': None, 'address1': '303 Second...",[],None,[],[],[{'external_url': 'http://www.upickreviews.com...,[]

### 14. All the companies that have been acquired after 2015, order by the acquisition amount, and retrieve only their `name` and `acquisiton` field.

In [50]:
n = db.db.find({'acquisition.acquired_year':{'$gte':2015}},{'name':1,'acquisition':1,'_id':0}).sort('acquisition.price_amount', pymongo.DESCENDING)
nx = pd.DataFrame(n)
nx.head()

Empty DataFrame
Columns: []
Index: []

### 15. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [56]:
o = db.db.find({},{'name':1,'founded_year':1,'_id':0})
ox = pd.DataFrame(o).sort_values('founded_year')
ox.head()

                      name  founded_year
3536           SmallWorlds        1800.0
261             Alstrasoft        1800.0
13362              US Army        1800.0
18121               DuPont        1802.0
12048  Bachmann Industries        1833.0

### 16. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `aquisition price` descendently. Limit the search to 10 documents.

In [58]:
p = db.db.find({'founded_day':{'$lte':7}}).limit(10).sort('acquisition.price_amount', pymongo.DESCENDING)
px = pd.DataFrame(p)
px.head()

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7d4bab8bd6752989a1,Netscape,netscape,http://www.crunchbase.com/company/netscape,http://netscape.aol.com,,,,software,NaN,...,[],"{'price_amount': 4200000000, 'price_currency_c...",[],"[{'description': '', 'address1': '466 Ellis St...",[],None,[],[],[],[]
1,52cdef7c4bab8bd675297e89,PayPal,paypal,http://www.crunchbase.com/company/paypal,http://www.paypal.com,,,paypal,finance,300000.0,...,"[{'funding_round': {'round_code': 'c', 'source...","{'price_amount': 1500000000, 'price_currency_c...","[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': '2145 E Hamil...","[{'id': 11916, 'description': 'Reserve Bank Of...",None,[],"[{'available_sizes': [[[150, 120], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[]
2,52cdef7c4bab8bd675297efe,Zappos,zappos,http://www.crunchbase.com/company/zappos,http://www.zappos.com,http://www.blogs.zappos.com/blogs,http://feeds.feedburner.com/ZapposBlogs,zappos,web,1500.0,...,[],"{'price_amount': 1200000000, 'price_currency_c...",[],"[{'description': 'Headquarters', 'address1': '...","[{'id': 864, 'description': 'My baby cousin ju...",None,"[{'embed_code': '<object width=""425"" height=""3...",[],[{'external_url': 'http://blog.mixergy.com/cus...,[]
3,52cdef7c4bab8bd675297f0c,Alibaba,alibaba,http://www.crunchbase.com/company/alibaba,http://www.alibaba.com,,,AlibabaTalk,ecommerce,NaN,...,[{'funding_round': {'round_code': 'private_equ...,"{'price_amount': 1000000000, 'price_currency_c...","[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': '6/F Chuangye...","[{'id': 1514, 'description': 'Alibaba gains ex...","{'valuation_amount': None, 'valuation_currency...",[],[],[{'external_url': 'http://www.alibaba.com/show...,"[{'partner_name': 'CTQuan', 'homepage_url': 'h..."
4,52cdef7c4bab8bd675297d90,Postini,postini,http://www.crunchbase.com/company/postini,http://postini.com,,,None,web,NaN,...,[],"{'price_amount': 625000000, 'price_currency_co...",[],"[{'description': None, 'address1': '959 Skyway...",[],None,[],[],[],[]

### 17. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascendant order.

In [59]:
q = db.db.find({'category_code':'web','number_of_employees':{'$gt':4000}}).sort('number_of_employees',pymongo.ASCENDING)
qx = pd.DataFrame(q)
qx.head()

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd67529822a,Expedia,expedia,http://www.crunchbase.com/company/expedia,http://www.expedia.com,,,Expedia,web,4400,...,"[{'funding_round': {'round_code': 'c', 'source...","{'price_amount': None, 'price_currency_code': ...","[{'price_amount': None, 'price_currency_code':...","[{'description': 'Corporate Office', 'address1...","[{'id': 11691, 'description': 'US AIRWAYS AND ...","{'valuation_amount': None, 'valuation_currency...",[],"[{'available_sizes': [[[150, 93], 'assets/imag...",[{'external_url': 'http://www.urlaubs-rabatte....,[]
1,52cdef7c4bab8bd675297e96,AOL,aol,http://www.crunchbase.com/company/aol,http://www.aol.com,http://blog.aol.com/,http://feeds.feedburner.com/AolBlog?format=xml,aol,web,8000,...,"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': 40000000, 'price_currency_co...","[{'description': 'HQ', 'address1': '770 Broadw...","[{'id': 2689, 'description': 'AOL relauches, c...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 91], 'assets/imag...","[{'external_url': 'http://mashpedia.com/AOL', ...",[]
2,52cdef7c4bab8bd675297ea4,Webkinz,webkinz,http://www.crunchbase.com/company/webkinz,http://www.webkinz.com,http://www.webkinz.com,http://piczo.com,webkinz,web,8657,...,[],None,[],"[{'description': None, 'address1': 'One Pearce...",[],None,[],[],"[{'external_url': 'http://webkinz-tips.com', '...",[]
3,52cdef7c4bab8bd675297fcb,Rakuten,rakuten,http://www.crunchbase.com/company/rakuten,http://global.rakuten.com/corp,,,RakutenGlobal,web,10000,...,[{'funding_round': {'round_code': 'unattribute...,None,"[{'price_amount': 425000000, 'price_currency_c...","[{'description': 'Headquarter', 'address1': 'R...","[{'id': 7034, 'description': 'RS Empowerment a...",None,[],"[{'available_sizes': [[[150, 111], 'assets/ima...",[{'external_url': 'http://www.brightwire.com/c...,[]
4,52cdef7c4bab8bd67529834c,Los Angeles Times Media Group,los-angeles-times-media-group,http://www.crunchbase.com/company/los-angeles-...,http://www.latimes.com,http://www.latimes.com/blogs,http://feeds.latimes.com/latimes/news,latimes,web,10000,...,"[{'funding_round': {'round_code': 'a', 'source...","{'price_amount': None, 'price_currency_code': ...",[],"[{'description': '', 'address1': '', 'address2...","[{'id': 1530, 'description': 'February 1, 1873...",None,[],[],[],[]

### 18. All the companies which their acquisition amount is more than 10.000.000, and currency are 'EUR'.

In [60]:
r = db.db.find({'acquisition.price_currency_code':'EUR','acquisition.price_amount':{'$gt':10000000}})
rx = pd.DataFrame(r)
rx.head()

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd675297f02,ZYB,zyb,http://www.crunchbase.com/company/zyb,http://zyb.com,http://blog.zyb.com/,http://blog.zyb.com/index.php/feed/,None,mobile,25.0,...,[],"{'price_amount': 31500000, 'price_currency_cod...","[{'price_amount': None, 'price_currency_code':...","[{'description': None, 'address1': 'Esromgade ...",[],None,[],[],[],[]
1,52cdef7d4bab8bd675298bf3,Apertio,apertio,http://www.crunchbase.com/company/apertio,http://www.apertio.com,,,None,mobile,NaN,...,[],"{'price_amount': 140000000, 'price_currency_co...",[],"[{'description': None, 'address1': '', 'addres...",[],None,[],[],[],[]
2,52cdef7d4bab8bd675298f47,Greenfield Online,greenfield-online,http://www.crunchbase.com/company/greenfield-o...,http://www.greenfield.com/content/index.html,,,,public_relations,NaN,...,[],"{'price_amount': 40000000, 'price_currency_cod...","[{'price_amount': 154000000, 'price_currency_c...","[{'description': '', 'address1': '21 River Rd'...",[],None,[],"[{'available_sizes': [[[150, 87], 'assets/imag...",[{'external_url': 'http://www.pr-inside.com/gr...,[]
3,52cdef7e4bab8bd67529a536,Webedia,webedia,http://www.crunchbase.com/company/webedia,http://purepeople.com,,http://www.purepeople.com/rss,purepeople,web,50.0,...,[],"{'price_amount': 70000000, 'price_currency_cod...",[],"[{'description': '', 'address1': '', 'address2...",[],None,[],"[{'available_sizes': [[[150, 93], 'assets/imag...",[],[]
4,52cdef7e4bab8bd67529a729,Wayfinder,wayfinder,http://www.crunchbase.com/company/wayfinder,http://www.wayfinder.com,http://www.wayfinder.com/?id=3848&lang=en-US,http://www.wayfinder.com/?tid=customrssfeeder&...,None,None,NaN,...,[],"{'price_amount': 24000000, 'price_currency_cod...",[],"[{'description': '', 'address1': '', 'address2...",[],None,[],[],[],[]

### 19. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [64]:
s = db.db.find({'acquisition.acquired_month':{'$lte':3}},{'name':1,'acquisition':1,'_id':0}).limit(10)
sx = pd.DataFrame(s)
sx.head()

         name                                        acquisition
0        Kyte  {'price_amount': None, 'price_currency_code': ...
1  NetRatings  {'price_amount': 327000000, 'price_currency_co...
2      blogTV  {'price_amount': None, 'price_currency_code': ...
3  Livestream  {'price_amount': None, 'price_currency_code': ...
4    iContact  {'price_amount': 169000000, 'price_currency_co...

### 20. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [81]:
t = db.db.find({'acquisition.acquired_year':{'$not':{'$gte':2011}},'founded_year':{'$gte':2000},'founded_year':{'$lte':2010}},{'founded_year':1,'acquisition':1})
tx = pd.DataFrame(t)
tx.head()

,_id,founded_year,acquisition
0,52cdef7c4bab8bd675297d8b,1996,None
1,52cdef7c4bab8bd675297d8c,2005,None
2,52cdef7c4bab8bd675297d8e,2004,None
3,52cdef7c4bab8bd675297d8f,2005,None
4,52cdef7c4bab8bd675297d90,1999,"{'price_amount': 625000000, 'price_currency_co..."