# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
Name                 33183 non-null object
Job Titles           33183 non-null object
Department           33183 non-null object
Full or Part-Time    33183 non-null object
Salary or Hourly     33183 non-null object
Typical Hours        8022 non-null float64
Annual Salary        25161 non-null float64
Hourly Rate          8022 non-null float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
pd.crosstab(index = salaries['Salary or Hourly'], columns='count')

col_0             count
Salary or Hourly
Hourly             8022
Salary            25161

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
pd.crosstab(index = salaries['Department'], columns='count')

col_0                  count
Department
ADMIN HEARNG              39
ANIMAL CONTRL             81
AVIATION                1629
BOARD OF ELECTION        107
BOARD OF ETHICS            8
BUDGET & MGMT             46
BUILDINGS                269
BUSINESS AFFAIRS         171
CITY CLERK                84
CITY COUNCIL             411
COMMUNITY DEVELOPMENT    207
COPA                     116
CULTURAL AFFAIRS          65
DISABILITIES              28
DoIT                      99
FAMILY & SUPPORT         615
FINANCE                  560
FIRE                    4641
GENERAL SERVICES         980
HEALTH                   488
HUMAN RELATIONS           16
HUMAN RESOURCES           79
INSPECTOR GEN             87
LAW                      407
LICENSE APPL COMM          1
MAYOR'S OFFICE            85
OEMC                    2102
POLICE                 13414
POLICE BOARD               2
PROCUREMENT               92
PUBLIC LIBRARY          1015
STREETS & SAN           2198
TRANSPORTN              1140
TREASURER                 22
WATER MGMNT             1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [45]:
# Your code here:
from scipy.stats import norm
from scipy.stats import t
from scipy.stats import ttest_1samp
from scipy.stats import ttest_rel, ttest_ind

hourwage = salaries[salaries['Salary or Hourly']=='Hourly']['Hourly Rate']

# Hipótesis: el pago por hora es significativamente diferente de 30.
# H0: mu = k, H1: mu != k (two-sided)

med = 30
n = len(hourwage)
medm = np.mean(hourwage)
stdm = np.std(hourwage)
umbral_conf = 1 - 0.95

test=ttest_1samp(hourwage, med)
print(test.statistic)
print(test.pvalue)
if test.pvalue <= umbral_conf:
    print('La hipótesis se rechaza.')
else:
    print('La hipótesis se mantiene.')

20.6198057854942
4.3230240486229894e-92
La hipótesis se rechaza.

In [8]:
#comprobación con el otro método

t_test=(medm-med)/(stdm/np.sqrt(n))
rv=t(df=n-1)
p_value=(1-rv.cdf(t_test))
print(t_test)
print(p_value)

20.621091109223613
0.0

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [26]:
# Your code here:
police = salaries[salaries['Salary or Hourly']=='Salary']['Annual Salary']

# Hipótesis: Los salarios son mayores que la media.
# H0 >= k, H1 < k (one sided)

npol = len(police)
medpol = 86000
umbral_conf = 1 - 0.95
medp = police.mean()
stdp = police.std()

testp=ttest_1samp(police, medpol)
print(testp.statistic)
print(testp.pvalue/2)
if testp.pvalue/2 <= umbral_conf:
    print('La hipótesis se rechaza.')
else:
    print('La hipótesis se mantiene.')

5.932870515690814
1.507879259958193e-09
La hipótesis se rechaza.

In [28]:
#comprobación con el otro método

t_testp=(medp-medpol)/(stdp/np.sqrt(npol))
rv=t(df=npol-1)
p_valuep=(1-rv.cdf(t_testp))
print(t_testp)
print(p_valuep)

5.932870515691724
1.5078792658940188e-09

Using the `crosstab` function, find the department that has the most hourly workers.

In [37]:
# Your code here:
trab_hora = salaries[salaries['Salary or Hourly']=='Hourly']
mashoras = pd.crosstab(index = trab_hora['Department'], columns = 'count').sort_values('count',ascending=False)
mashoras

col_0                  count
Department
STREETS & SAN           1862
WATER MGMNT             1513
OEMC                    1273
AVIATION                1082
GENERAL SERVICES         765
TRANSPORTN               725
PUBLIC LIBRARY           299
FAMILY & SUPPORT         287
CITY COUNCIL              64
FINANCE                   44
LAW                       40
ANIMAL CONTRL             19
POLICE                    10
MAYOR'S OFFICE             8
CULTURAL AFFAIRS           7
BUSINESS AFFAIRS           7
HUMAN RESOURCES            4
COMMUNITY DEVELOPMENT      4
HEALTH                     3
FIRE                       2
PROCUREMENT                2
BUDGET & MGMT              2

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [47]:
# Your code here:
streetnsan = trab_hora[trab_hora['Department']=='STREETS & SAN']['Hourly Rate']

nstr = len(streetnsan)
medsan = 35
medstr = streetnsan.mean()
stdstr = streetnsan.std()
umbral_conf = 1 - 0.95

teststr = ttest_1samp(streetnsan,medsan)
print(teststr.statistic)
print(teststr.pvalue/2)
if testp.pvalue/2 <= umbral_conf:
    print('La hipótesis se rechaza.')
else:
    print('La hipótesis se mantiene.')

-9.567447887848152
1.6689265282353859e-21
La hipótesis se rechaza.

In [49]:
#comprobación con el otro método

t_teststr=(medstr-medsan)/(stdstr/np.sqrt(nstr))
rv=t(df=nstr-1)
p_valuestr=rv.cdf(t_teststr)
print(t_teststr)
print(p_valuestr)

-9.567447887851964
1.6689265281767388e-21

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [53]:
from scipy.stats import sem

In [54]:
# Your code here: interval(alpha, df, loc=0, scale=1)

#se utiliza el df 'hourwage', que ya contenía los datos de hourly rate para cada trabajador 'Hourly'

alpha = 0.95
gl = len(hourwage)-1
loc = hourwage.mean()

cit = t.interval(alpha,gl,loc,sem(hourwage))

cit

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [55]:
# Your code here:

##se utiliza el df 'police', que ya contenía los datos de hourly rate para cada trabajador 'Hourly'

alpha = 0.95
glp = len(police)-1
locp = police.mean()

citp = t.interval(alpha,glp,locp,sem(police))

citp

(86526.99656774197, 87047.0030125611)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [72]:
# Your code here: proportions_ztest(count, nobs, value=None, alternative='two-sided', prop_var=False)
from statsmodels.stats import proportion as pp

# se utiliza df de 'hourwage'

#Hipótesis: El número de empleados 'hourly' es significativamente diferente de p.
# H0 = p, H1 != p (two-sided) 

p = .25
umbral_conf = 1 - 0.95

hipot = pp.proportions_ztest(len(hourwage),len(salaries['Salary or Hourly']),p,alternative='two-sided')
print(hipot[0])
print(hipot[1])
if hipot[1] <= umbral_conf:
    print('La hipótesis se rechaza.')
else:
    print('La hipótesis se mantiene.')

-3.5099964213703005
0.0004481127249057967
La hipótesis se rechaza.